@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: aliceblue;
  font-size: 16px;
  overflow: hidden;
  text-decoration: none;
}

header {
  position: fixed;
  width: 80vw;
  left: 10%;
  transform: translateX();
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 600px;
  gap: 200px;
  z-index: 2;

  & img {
    width: 250px;
  }

  & nav {
    & ul {
      display: grid;
      grid-template-columns: repeat(4, 180px);

      & li a {
        text-decoration: none;
        color: inherit;
      }

      & li a:hover {
        color: greenyellow;
      }
    }
  }
}

section {
  background-image: radial-gradient(#45aab1, #09218b);
  height: 100vh;
  position: relative;

  & .list {
    width: 70vw;
    margin: auto;
    height: 100%;
    position: relative;

    & .item {
      position: absolute;
      inset: 0;

      & .car-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 70%;

        & img {
          width: 100%;
          transform: rotate(-30deg);
        }

        &::before {
          content: "";
          position: absolute;
          background-color: black;
          width: 100%;
          height: 100px;
          top: 150%;
          left: 50px;
          border-radius: 50%;
          filter: blur(50px);
        }
      }

      & .content {
        position: fixed;
        right: 50px;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 50px;

        & .car-information {
          font-weight: bold;
        }

        & h2 {
          font-size: 4em;
          line-height: 1em;
          font-family: "League Gothic", sans-serif;
        }

        & .description {
          color: #d9d9d9;
          font-size: 12px;
          text-align: right;
          max-width: 350px;
        }

        & .information {
          border-radius: 30px;
          height: 35px;
          width: 120px;
          text-transform: uppercase;
          border: 2px solid #45aab1;
          background-color: greenyellow;
          color: black;
          cursor: pointer;
          font-weight: bold;
          font-family: "League Gothic", sans-serif;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 200px;
      width: 100%;
      top: 50%;
      border-top: 1px solid #d9d9d9;
    }
  }

  .arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;

    & button:nth-child(1) {
      & img {
        transform: scale(-1);
      }
    }

    & button {
      top: 60%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      & img {
        width: 30px;
        margin-top: 4px;
        cursor: pointer;
      }

      &:hover {
        background-color: greenyellow;
      }
    }
  }

  .indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    right: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;

    & .number {
      font-size: 3em;
      font-family: "League Gothic", sans-serif;
    }

    & ul {
      display: flex;
      gap: 10px;

      & li {
        width: 30px;
        height: 5px;
        background-color: greenyellow;
        border-radius: 5px;
        transition: 0.5s;
      }

      & .active {
        background-color: aliceblue;
      }
    }
  }
}

section {
  & .list {
    --calculation: 1;

    & .item {
      transform: translateX(calc(100vw * var(--calculation)));
      transition: 0.5s;
      opacity: 0;

      & .car-img {
        & img {
          transform: rotate(0);
          transition: 0.5s;
          transition-delay: 0.3s;
        }
      }

      & .content {
        & .car-information,
        h2,
        .description,
        .information {
          transform: translateX(calc(200px * var(--calculation)));
          transition: 0.7s;
          transition-delay: 0.3s;
          opacity: 0;
        }

        & h2 {
          transition-delay: 0.5s;
        }

        & .description {
          transition-delay: 0.7s;
        }

        & .information {
          transition-delay: 0.9s;
        }
      }
    }

    & .active {
      transform: translateX(0);
      transition: 0.5s;
      opacity: 1;

      & .car-img {
        & img {
          transform: rotate(-20deg);
        }
      }

      & .content {
        & .car-information,
        h2,
        .description,
        .information {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}


body {
    background-color: black;
    color: aliceblue;
  }
  
  /* Tamanhos grandes (desktop) */
  header {
    display: grid;
    grid-template-columns: 1fr 600px;
  }
  
  /* Responsividade para tablets e smartphones */
  @media (max-width: 768px) {
    header {
      grid-template-columns: 1fr;
    }
  
    .list .item .content h2 {
      font-size: 3em;
    }
  
    .list .item .car-img img {
      width: 90%;
      transform: rotate(0deg);
    }
  
    .list {
      width: 90vw;
    }
  
    .arrows {
      width: 90vw;
    }
  }
  
  @media (max-width: 576px) {
    .list .item .content h2 {
      font-size: 2em;
    }
  
    .list .item .car-img img {
      width: 80%;
    }
  }
  
